main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 56px;
    width: 616px;
}

p {
    font-size: 18px;
    width: 616px;
}

.align {
    display: flex;
    gap: 16px;
}

input {
    width: 357px;
    height: 48px;
    font-size: 16px;
    color: #666666;
}

button {
    color: white;
    background-color: black;
    width: 140px;
    height: 52px;
}

.align-p p {
    width: 513px;
    height: 18px;
    font-size: 12px;
}

.img {
    display: flex;
}